{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain "linkmanager" %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'url.list'|trans, url: path('admin_link_manager_list') },
        { value: 'url.edit'|trans }
    ]} %}
{%- endblock -%}

{%- block pageTitle -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'url.editing'|trans({'%url%': url.url|truncate(50) }),
        iconName: 'link'
    } %}
{%- endblock -%}

{%- block content -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <section class="container mt-4">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.url) }}
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-4">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            <a href="{{ path('admin_link_manager_list') }}" class="btn btn-default">
                {{ 'url.edit.cancel'|trans|desc("Cancel") }}
            </a>
            <button class="btn btn-primary">
                {{ 'url.edit.save'|trans|desc('Save') }}
            </button>
        </div>
    </section>
    {{ form_end(form) }}
{%- endblock -%}
