{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain "linkmanager" %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'url.list'|trans|desc('Link management') }
    ]} %}
{%- endblock -%}

{%- block pageTitle -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'url.list'|trans|desc('Link management'),
        iconName: 'sections'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container mt-5">
        {{ form_start(form, {"attr": {"class": "form-inline"}}) }}
            {{ form_widget(form.searchQuery, { attr: {
                'placeholder': 'url.search.placeholder'|trans,
            }}) }}

            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
            <button class="btn btn-submit">
                {{ 'url.search'|trans }}
            </button>

        {{ form_widget(form.page, { attr: { value: '1' }}) }}
        {{ form_end(form) }}
    </section>

    <section class="container mt-5">
        <div class="ez-table-header">
            <h5>{{ 'url.list.title'|trans|desc('Links') }}</h5>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'url.label.address'|trans }}</th>
                    <th>{{ 'url.label.status'|trans }}</th>
                    <th>{{ 'url.label.last_checked'|trans }}</th>
                    <th>{{ 'url.label.modified'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                {% set edit_url = path('admin_link_manager_edit', {urlId: url.id}) %}
                {% set view_url = path('admin_link_manager_view', {urlId: url.id}) %}
                <tr>
                    <td>
                        <a href="{{ view_url }}">{{ url.url|length > 60 ? url.url|slice(0, 60) ~ '...' : url.url }}</a>
                        (<a href="{{ url.url }}" target="_blank">{{ 'url.open'|trans }}</a>)
                    </td>
                    <td>{{ url.isValid ? 'url.status.valid'|trans : 'url.status.invalid'|trans }}</td>
                    <td>
                        {% if url.lastChecked %}
                            {{ url.lastChecked | date('Y-m-d H:i') }}
                        {% else %}
                            Never
                        {% endif %}
                    </td>
                    <td>{{ url.modified | date('Y-m-d H:i') }}</td>
                    <td>
                        {% if can_edit %}
                            <a href="{{ edit_url }}" class="btn btn-secondary" data-icon="&#xe606;">
                                {{ 'url.edit'|trans }}
                            </a>
                        {% else %}
                            <span class="btn btn-secondary" data-icon="&#xe606;">
                                {{ 'url.edit'|trans }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row justify-content-center align-items-center">
            {{ pagination|raw }}
        </div>
    </section>
{%- endblock -%}

{% block title %}{{ 'url.list'|trans }}{% endblock %}

