{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain "linkmanager" %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'url.list'|trans, url: path('admin_link_manager_list') },
        { value: 'url.view'|trans({ '%id%': url.id }) }
    ]} %}
{%- endblock -%}

{%- block pageTitle -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'url.view'|trans({ '%id%': url.id }),
        iconName: 'link'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container mt-5">
        <div class="btn-toolbar justify-content-end" role="toolbar">
            <a href="{{ path('admin_link_manager_edit', { urlId: url.id }) }}" class="btn btn-secondary">
                {{ 'url.edit'|trans|desc('Edit')  }}
            </a>
        </div>

        <div class="ez-table-header mt-4">
            <h5>{{ 'url.tab.information'|trans|desc('Details') }}</h5>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'url.label.address'|trans }}</th>
                    <td><a href="{{ url.url }}" target="_blank">{{ url.url }}</a></td>
                </tr>
                <tr>
                    <th>{{ 'url.label.status'|trans }}</th>
                    <td>{{ url.isValid ? 'url.status.valid'|trans : 'url.status.invalid'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'url.label.last_checked'|trans }}</th>
                    <td>
                        {% if url.lastChecked %}
                            {{ url.lastChecked | date('Y-m-d H:i') }}
                        {% else %}
                            {{ 'url.label.last_checked.never'|trans|desc('This URL has not been checked') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'url.label.created'|trans }}</th>
                    <td>{{ url.created | date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <th>{{ 'url.label.modified'|trans }}</th>
                    <td>{{ url.modified | date('Y-m-d H:i') }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="container mt-5">
        <div class="ez-table-header">
            <h5>{{ 'url.tab.usages'|trans({'%count%': usages.nbResults })|desc('Content item(s) using this URL') }}</h5>
        </div>

        <table class="table">
            <colgroup>
                <col />
                <col width="20%"/>
                <col width="10%"/>
                <col width="10%"/>
            </colgroup>

            <thead>
                <tr>
                    <th>{{ 'url.usages.column.name'|trans|desc('Name') }}</th>
                    <th>{{ 'url.usages.column.status'|trans|desc('Status') }}</th>
                    <th>{{ 'url.usages.column.version'|trans|desc('Status') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for usage in usages %}
                    {% set content = usage.valueObject %}
                    {% set view_url = path('_ez_content_view', { contentId: content.id }) %}
                    {# TODO: Missing edit URL #}
                    {% set edit_url = '' %}

                    <tr>
                        <td>
                            <a href="{{ view_url }}">
                                {{ ez_content_name(content) }}
                            </a>
                        </td>
                        <td>{{ content.published ? 'Published' : 'Draft' }}</td>
                        <td>{{ content.currentVersionNo }}</td>
                        <td>
                            <a href="{{ edit_url }}" class="btn btn-secondary">
                                {{ 'url.edit'|trans|desc('Edit') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row justify-content-center align-items-center">
            {{ pagination|raw }}
        </div>
    </section>
{%- endblock -%}

{% block title %}{{ 'url.view'|trans({ '%id%': url.id }) }}{% endblock %}

